{% import "partials/_site_menu.html" as sitemenu %}
{% import "partials/_lang_switcher.html" as langswitch %}

{% macro render_header(site, canonical_path) %}
<header class="site-header">
        <div class="site-header__inner">
            
            <div>
                <a class="site-title" href="/">{{ site.title }}</a>                
            </div>
            {{ sitemenu.render_site_menu(site.menu, canonical_path) }}            
            {% set post_translations = post.translations if (post is defined and post.translations) else {} %}
            {{ langswitch.render_lang_switcher(site.languages, current_lang, site.blog_index_urls, post_translations) }}
        </div>
    </header>
{% endmacro %}
